.login {
    background: url('../img/fundo.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    .img-logo {
        margin-bottom: 12px;

        img {
            width: 380px;
        }

        .texto-apoio {
            margin-top: 6px;
            margin-bottom: 6px;
        }
    }

    .card {
        background: #E6E6E9;
        border-radius: 25px 25px 25px 25px;
        border: none !important;
    }

    .card-header{
        background-color: #F58634 !important;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }
}
